<h1>New book</h1>
<form class="form-wrapper">
    <input type="text" id="search" placeholder="Type your ISBN here..." required>
    <input type="submit" value="go" id="submit">
</form>
<%= response %>
